/*
    =========================================

           >=== jQuery.bbCodes ===<

    =========================================
*/

#ibbCode{
    
}
#ibbCode ul{
    margin: 0;
    padding: 0;
}
#ibbCode ul li{
    position: relative;
    float: left;
    margin: 5px 0;
}
#ibbCode ul li.ibbCode-group + li.ibbCode-group{
    margin-left: 8px;
}
#ibbCode ul li a{
    display: inline-block;
    float: left;
    padding: 8px 12px;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    *border-radius: 2px;
    color: #58666e;
    background-color: #fff;
    border-color: #ddd;
    
    border-left: none;
}
#ibbCode ul li.ibbCode-group a:first-child{
    border-left: 1px solid #ddd;
}
#ibbCode ul li a:hover,
#ibbCode ul li a:active{
    background-color: #f5f5f5;
    border-color: #c7d3d6;
}
#ibbCode ul li a:active{
    -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.1);
}
#ibbCode ul li a:hover + ul,
#ibbCode ul li a + ul:hover{
    display: block
}
#ibbCode ul li a + ul{
    position: absolute;
    z-index: 3;
    top: 100%;
    margin-top: -6px;
    border-radius: 0;
    padding: 0;
    display: none;
}
#ibbCode ul li a + ul li a{
    float: none;
    display: block;
    border-left: 1px solid #ddd;
    border-bottom: 0;
}
#ibbCode ul li a + ul li a:last-child{
    border-bottom: 1px solid #ddd;
}

/*
    =========================================

          >=== jQuery.kAutoComplete ===<

    =========================================
*/
.kACompleteBox {
	position:absolute;
	top:0;
	left:0;
	min-width: 160px;
	padding:5px 0;
	margin:10px 0px;
	background:#FFF;
	border:1px solid #C1C1C1;
	border-radius:4px;
	z-index:1000;
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
           -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.kACompleteBox ul{
	list-style: none;
	margin:0;
	padding:0;
	overflow: auto;
}
.kACompleteBox ul li a{
	display:block;
	padding: 3px 20px;
	clear: both;
	cursor:pointer;
	font-family:sans-serif;
	font-weight: normal;
	font-size:14px;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
	text-align:left;
	text-decoration:none;
}
.kACompleteBox ul li a:hover{
    background-color: #f1f1f1;
}
.kACompleteBox ul li.active a,
.kACompleteBox ul li a:active,
.kACompleteBox ul li a:focus{
	color: #fff;
	text-decoration: none;
	background-color: #428bca;
}
.kACompleteBox ul li.groupTitle{
    font-weight: bold;
}
.kACompleteBox ul li.divider{
	height: 1px;
	margin: 6px 1px;
	display:block;
	overflow: hidden;
	background-color: #e5e5e5;
	cursor:default;
}